ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%; 
}

.layout {
    padding: 3rem 0;
    margin: 2.5rem 0;
    box-shadow: 1px 1px 2em red;
}

.layout:nth-child(1), .layout:nth-child(3) {
    margin-top: 0;
    background-color: red !important;
}

/* PRODUTOS */
.product-img-start {
    max-height: 500px;
    max-width: 500px;
    padding-right: 3rem;
    border-right: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-end {
    max-height: 500px;
    max-width: 500px;
    padding-left: 3rem;
    border-left: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-text-b, .product-text-t {
    padding-left: 3rem;
}

@media (max-width: 576px) {
    /* IMG */
    .product-img-end {
        border: 0;
        border-top: 1px solid #dee2e6;
        padding: 0;
        padding-top: 2.5rem;
    }

    .product-img-start {
        border: 0;
        border-bottom: 1px solid #dee2e6;
        padding: 0;
        padding-bottom: 2.5rem;
    }
    
    .product-img-start img {
        max-width: 50vw;
    }

    .product-img-end img {
        max-width: 50vw;
    }
    /* TEXT */
    .product-text-b, .product-text-t {
        padding: 0 1.5rem;
    }

    .product-text {
        padding: 0;
    }
    
    .product-text-b {
        padding-top: 2.5rem;
    }
    
    .product-text-t {
        padding-bottom: 2.5rem;
    }
    
    .product-text-title {
        display: flex;
        justify-content: center;
    }
}