h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display",
     Georgia, "Times New Roman", 
     serif;
}

/* DEFINIÇÕES */
.grid {
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    padding: 3rem 0;
    border-radius: .4rem;
    box-shadow: 6px 6px 2em rgb(62, 57, 57);
}

/* GRID-1 */
@media (max-width: 576px) {
    .xs-margin:nth-child(1) {
        margin-bottom: .5rem;
    }

    .xs-margin:nth-child(2) {
        margin-top: .5rem;
    }
}

/* BLOG */
.blog-post {
    margin-bottom: 3rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/* NAVBAR */
#logo {
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

#navbarCollapse ul li {
    margin: 0 3rem;
    font-size: 1.3rem;
}

#nav-link:hover {
    color: #727272;
    transition: 1s;
}

@media (max-width:768px) {
    .navbar-collapse,ul li {
        display: block;
    }

    .navbar-collapse ul li {
        background-color: #3d3d3d;
        padding: .3rem 1rem;
        margin: .3rem 0rem !important;
        border-radius: .2rem; 
    }
}

/* ASIDE */
.position-sticky {
    top: 4.6rem
}